
/* Estilos para elementos comuns da paginação */
.pagination li a {
    color: #333; /* Cor do texto */
    background-color: #fff; /* Cor de fundo */
    border-color: #ddd; /* Cor da borda */
}

/* Estilos para o elemento da página atual */
.pagination li.active a {
    color: #fff; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo */
    border-color: #007bff; /* Cor da borda */
}

/* Estilos para os botões 'anterior' e 'próximo' */
.pagination li.prev a,
.pagination li.next a {
    color: #007bff; /* Cor do texto */
    background-color: #fff; /* Cor de fundo */
    border-color: #007bff; /* Cor da borda */
}
